 /* Logo transition */
 .brand .logo-sm,
 .brand .logo-lg {
     transition: all 0.2s ease;
 }

 /* default: sidebar expand */
 .brand .logo-sm {
     display: none;
 }

 .brand .logo-lg {
     display: block;
     white-space: nowrap;
 }

 /* SAAT SIDEBAR COLLAPSE - Approx pakai class 'sidebar-enable vertical-collapsed' atau body .vertical-collapsed */
 body.vertical-collapsed .brand .logo-lg,
 body.sidebar-enable.vertical-collapsed .brand .logo-lg {
     display: none !important;
     /* pastikan hilang */
 }

 body.vertical-collapsed .brand .logo-sm,
 body.sidebar-enable.vertical-collapsed .brand .logo-sm {
     display: inline-block !important;
     /* muncul DJ */
 }

/* ===== Modal Backdrop ===== */

/* Abu-abu semi-transparan, tanpa blur berlebihan */
.modal-backdrop {
    background-color: rgba(100, 100, 100, 0.55) !important;
    opacity: 1 !important;
}

/* Smooth modal entrance */
.modal.fade .modal-dialog {
    transform: translateY(-10px) scale(0.99);
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;
}

.modal.show .modal-dialog {
    transform: translateY(0) scale(1);
    opacity: 1;
}
